@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap');
* {
    box-sizing: content-box;
    ;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: Poppins, Arial, sans-serif;
    color: #151515;
    background-color: #f2f3f8;
}

.container {
    max-width: 85rem;
    margin: 0 auto;
    padding: 0;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #151515;
}

.flexible-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.btn-style {
    display: inline-block;
    border: 1px solid #fda15f;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    justify-content: space-around;
    background-color: #fda15f;
    padding: 1rem 2rem;
    transition: .6s;
}

.btn-style:hover {
    text-decoration: none;
    background-color: #fda15f;
    color: white;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-style:active {
    background-color: #fdd296;
    color: white;
    border-color: #fdd296;
}

.underheader {
    visibility: hidden;
    position: absolute;
}

.navigation-container {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    cursor: pointer;
    z-index: 999;
}

.navigation {
    justify-content: space-between;
    z-index: 999;
}

.navigation__logo-container {
    width: 5rem;
    text-align: center;
    background-color: white;
    margin: 1rem;
    transition: .5s;
}

.navigation__logo-img {
    width: 100%;
}

.hamburger-input {
    opacity: 0;
    width: 2rem;
    height: 2rem;
}

.hamburger-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 2;
}

.hamburger-btn>span,
.hamburger-btn>span::before,
.hamburger-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #363d41;
}

.hamburger-btn>span::before {
    content: '';
    top: -8px;
}

.hamburger-btn>span::after {
    content: '';
    top: 8px;
}

#menu_toggle:checked~.hamburger-btn>span {
    transform: rotate(45deg)
}

#menu_toggle:checked~.hamburger-btn>span::before {
    top: 0;
    transform: rotate(0)
}

#menu_toggle:checked~.hamburger-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu_toggle:checked~.navigation__menu {
    visibility: visible;
    right: 0;
}

.hamburger-btn>span,
.hamburger-btn>span::after {
    transition-duration: .50s;
}

.navigation__menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 85%;
    height: 100%;
    margin: 0;
    padding: 0 0;
    list-style: none;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 1px 70px 6px rgba(0, 0, 0, .2);
    z-index: -1;
    transition-duration: .50s;
}

.navigation__list {
    margin-top: 4rem;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    line-height: 45px;
    flex-direction: column;
    list-style: none;
    font-size: 1.2rem;
    letter-spacing: .05em;
}

.navigation__link {
    text-decoration: none;
    color: #363d41;
    text-transform: uppercase;
    display: block;
    padding: 1rem 1rem;
}

.navigation__link::after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #4fb692;
    transition: width .3s ease-in-out;
}

.navigation__element:first-child .navigation__link::after {
    display: block;
    content: "";
    height: 3px;
    width: 100%;
    background-color: #4fb692;
}

.navigation__link:hover::after {
    width: 100%;
    transition: .5s;
}

.header {
    display: block;
    position: relative;
    top: 5rem;
    background-color: gray;
    background: url(img/header-pic.jpg) top no-repeat;
    background-size: cover;
    z-index: -10;
}

.header__title {
    padding-top: 6rem;
    line-height: 6rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.header__title-name {
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 0.5rem;
    font-size: 2.5rem;
    background-color: #fca15f;
}

.header__title-services {
    font-size: 2rem;
    font-weight: 500;
}

.header__futures {
    position: relative;
    top: 2rem;
}

.header__features-container {
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.header__features-block {
    font-size: 1.1rem;
    width: 7rem;
    height: 5rem;
    background-color: #5bcea4;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 20px 4px rgb(255 255 255 / 93%);
    color: white;
}


/*main*/

.about-us {
    padding: 6rem 0;
    justify-content: space-around;
}

.about-us__text-container {
    order: 1;
    width: 40rem;
    padding: 0 1rem;
}

.about-us__img-container {
    max-width: 40rem;
}

.about-us__img {
    width: 100%;
}

.dogschool,
.pet-boarding,
.trimsalon {
    height: 50rem;
    position: relative;
    padding: 0;
    justify-content: space-around
}

.main-section__img-container {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
}

.main-section__img {
    vertical-align: middle;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: auto;
    min-width: 100%;
    max-width: none;
    height: auto;
    min-height: 100%;
}

.main-section__text-container {
    padding: 1rem 1rem;
    background-color: #fffffe73;
}


/* .main-section__img-container {
    position: relative;
    z-index: 1;
    left: 0%;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 50%;
}

.main-section__img {
    vertical-align: middle;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: auto;
    min-width: 100%;
    max-width: none;
    height: auto;
    min-height: 100%;
} */


/* main .border-for-text {
    width: 30%;
    padding: 10%;
}

main .pet-boarding {
    padding: 0;
    justify-content: space-between;
    background-color: white;
}

main .pet-boarding .img-border {
    order: -1;
} */

.photos-and-social {
    background-color: white;
}

.photos-and-social__social-container {
    background-color: #5acea4;
    justify-content: center;
}

.photos-and-social__title {
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    margin: 2rem 2rem 2rem 1rem;
}

.photos-and-social__link {
    margin: 1rem 2rem;
    padding: 1rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 0;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;
    transition: .6s;
}

.photos-and-social__insta-btn {
    background-image: url(img/insta.png);
}

.photos-and-social__facebook-btn {
    background-image: url(img/fb.png);
}

.photos-and-social__insta-btn:hover {
    background-image: url(img/insta-hov.png);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.photos-and-social__facebook-btn:hover {
    background-image: url(img/fb-hov.png);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #ffffff78;
}

.contact {
    position: relative;
    justify-content: space-around;
}

.contact__map-container {
    width: 99%;
    order: 2;
}

.contact__address-container {
    margin: 0;
    max-width: 40rem;
    height: 30rem;
    background-color: white;
    padding: 2rem 1rem 2rem 2rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.contact__title {
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 700;
    padding-left: 1rem;
}

.contact__link {
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    color: #5d5c5c;
    position: relative;
    padding-left: 3rem;
}

.contact__link::before {
    content: '';
    position: absolute;
    top: 0.7rem;
    left: 0;
    width: 2rem;
    height: 2rem;
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-adress-icon::before {
    background-image: url('img/address-icon-grey.png');
}

.contact-phone-number-icon::before {
    background-image: url('img/phone-icon-grey.png');
}

.contact-email-icon::before {
    background-image: url('img/email-icon-grey.png');
}

footer {
    background-color: #363d41;
    color: white;
    padding: 2rem 0;
    font-size: 1rem;
    margin-top: -1rem;
    justify-content: space-around;
}

.footer__sitemap-container {
    align-items: flex-start;
}

.footer__sitemap-block {
    padding: 2rem;
}

.footer__sitemap-list {
    list-style: none;
    padding: 0;
}

.footer__sitemap-element {
    margin: 1rem;
}

.footer__sitemap-link,
.footer__contacts-link {
    text-decoration: none;
    color: inherit;
}

.footer__sitemap-link:hover,
.footer__contacts-link:hover {
    border-bottom: 1px white solid;
}

.footer__contacts {
    padding: 2rem;
}

.footer__contacts-element {
    margin: 2rem 0;
}

@media screen and (min-width:949px) {
    body {
        font-size: 1rem;
    }
    h2 {
        font-size: 2rem;
    }
    .underheader {
        visibility: visible;
        position: static;
        height: 2rem;
        background-color: #363d41;
        color: white;
        font-size: 1.3rem;
        padding: 0.5rem 0;
    }
    .underheader__container {
        justify-content: space-between;
    }
    .underheader__contact-block {
        margin: 0 3rem;
    }
    .underheader__social-btn {
        margin: 0 1rem;
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.5rem;
    }
    .underheader__insta-btn {
        background-image: url(img/insta.png);
    }
    .underheader__facebook-btn {
        background-image: url(img/fb.png);
    }
    .underheader__phone-btn {
        position: relative;
        padding-left: 2.5rem;
        text-decoration: none;
        color: white;
    }
    .underheader__phone-btn:hover {
        text-decoration: none;
        color: rgb(200, 200, 200);
    }
    .underheader__phone-btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 2rem;
        height: 2rem;
        background-size: 3rem;
        background-image: url('img/phone-icon.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    /* fffffffffffffffffffffffffffffffffffffffffffffffffff */
    .hamburger-input {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
    }
    .hamburger-btn {
        visibility: hidden;
    }
    .navigation-container {
        background: transparent;
        cursor: auto;
        width: 100%;
        height: 7rem;
        position: static;
        margin-top: 3rem;
        justify-content: center;
    }
    .navigation {
        flex-wrap: nowrap;
        justify-content: center;
        margin: 0 auto;
    }
    .navigation__logo-container {
        position: relative;
        width: 10rem;
        height: 7rem;
        text-align: right;
        background-color: white;
        margin: 0;
    }
    .navigation__logo-container::after {
        content: " ";
        position: absolute;
        display: block;
        width: 8rem;
        height: 7rem;
        top: 0;
        left: 2rem;
        z-index: -1;
        background: #ffffff;
        transform-origin: bottom left;
        -ms-transform: skew(-30deg, 0deg);
        -webkit-transform: skew(-30deg, 0deg);
        transform: skew(-30deg, 0deg);
        transition: .5s;
    }
    .navigation__logo-img {
        padding: 0.5rem;
        width: 9rem;
        transition: .5s;
    }
    .navigation__menu-container {
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        height: 7rem;
        max-width: 80rem;
        padding: 0 0;
        text-align: end;
        margin-left: 1rem;
        transition: height .5s;
    }
    .navigation__menu-container::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 7rem;
        top: 0;
        left: 0;
        z-index: -1;
        transform-origin: bottom left;
        background: rgba(55, 172, 133, 0.62);
        transform-origin: bottom left;
        -ms-transform: skew(-30deg, 0deg);
        -webkit-transform: skew(-30deg, 0deg);
        transform: skew(-30deg, 0deg);
        transition: height .5s;
    }
    .navigation__menu {
        display: block;
        position: static;
        visibility: visible;
        width: auto;
        height: auto;
        text-align: left;
        background-color: transparent;
        box-shadow: none;
        z-index: 999;
        transition-duration: .50s;
    }
    .navigation__list {
        list-style: none;
        font-size: 1rem;
        letter-spacing: .05em;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin: 0;
        padding: 0 0;
        height: 7rem;
        flex-direction: row;
        line-height: unset;
        transition: .5s;
    }
    .navigation__element {
        margin: 0 0.6rem;
    }
    .navigation__link {
        text-decoration: none;
        color: white;
        display: block;
        padding: 0;
    }
    .navigation__link:hover {
        color: white;
    }
    .navigation__element:nth-child(5) .navigation__link {
        min-width: 7rem;
    }
    .navigation__link::after {
        display: block;
        content: "";
        height: 3px;
        width: 0%;
        background-color: white;
        transition: width .3s ease-in-out;
    }
    .navigation__element:first-child .navigation__link::after {
        display: block;
        content: "";
        height: 3px;
        width: 100%;
        background-color: white;
    }
    .navigation__link:hover::after {
        width: 100%;
        transition: .5s;
    }
    /* sticky menu start */
    .sticky {
        position: fixed;
        top: 0;
        align-items: center;
        width: 100%;
        background: linear-gradient(to right, white 50%, #4fb692 50%);
        max-width: 100%;
    }
    .sticky-logo {
        height: 5rem;
    }
    .sticky-logo::after {
        height: 5rem;
    }
    .sticky-logo-img {
        width: 6rem;
    }
    .sticky-menu-box {
        height: 5rem;
        transition: .5s;
    }
    .sticky-menu-box::after {
        background: #4fb692;
    }
    .sticky-navigation-list {
        height: 5rem;
    }
    /* sticky menu end */
    /* fffffffffffffffffffffffffffffffffffffffffffffffffff */
    .header {
        top: -10rem;
    }
    .header__features {
        position: relative;
        top: 9rem;
    }
    .header__features-block {
        font-size: 2rem;
        width: 20rem;
        height: 10rem;
    }
    .header__title-name {
        font-size: 5rem;
    }
    .header__title {
        padding-top: 24rem;
        margin-bottom: 6rem;
        text-align: end;
    }
    .dogschool,
    .pet-boarding,
    .trimsalon {
        height: auto;
        position: static;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .main-section__img-container {
        position: relative;
        z-index: 1;
        left: 0%;
        top: 0;
        bottom: 0;
        overflow: hidden;
        width: 50%;
    }
    .main-section__img {
        vertical-align: middle;
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        width: auto;
        min-width: 100%;
        max-width: none;
        height: auto;
        min-height: 100%;
    }
    .main-section__text-container {
        width: 30%;
        padding: 10%;
        background-color: transparent;
    }
    .pet-boarding {
        background-color: white;
    }
    .pet-boarding .main-section__img-container {
        order: -1;
    }
    .contact__address-container {
        width: 30rem;
        height: 30rem;
        position: absolute;
        top: 10%;
        right: 4%;
        background-color: white;
        padding-left: 2rem;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0;
    }
}

@media screen and (min-width:1199px) {
    body {
        font-size: 2rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    .navigation__list {
        font-size: 1.2rem;
    }
    .navigation__link {
        text-decoration: none;
        color: white;
        display: block;
        padding: 1rem 1rem;
    }
}